<header class="hero-unit" id="banner">
    <div class="container">
        <div class="col-md-6" align="center">
            <img class="img-responsive" src="../assets/images/miage-logo.png">
        </div>
        <div class="col-md-6" align="center">
            <img class="img-responsive" src="../assets/images/logo_fr.svg">
        </div>
    </div>
</header>
<div ng-cloak>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" height="200px" style="margin:auto;">
        </slide>
    </carousel>
</div>
<div class="container">
    <div class="col-md-6">
        <h1 translate="main.article"></h1>
        <section id="content" ng-repeat="article in articles | unique: 'id'" ng-show="article.pinned">
            <article>
                <header>
                    <h2>
                        <span><a class="title" ui-sref="articleDetail({id:article.id})">{{article.title}}</a></span>
                        <span>(#{{article.id}})</span>
                    </h2>
                    <ul class="list-inline">
                        <li  type="submit"
                             ui-sref="peopleDetail({id:people.id})"
                             ng-repeat="people in article.peoples">
                            <span class="label label-primary">{{people.name}}</span> </li>
                        <li><b>{{article.date}}</b></li>
                    </ul>
                    <hr>
                </header>
                <div markdown="article.body"></div>
                <hr>

                <ul class="list-inline">
                    <li>
                        <i class="glyphicon glyphicon-unchecked" ng-show="!article.pinned"></i>
                        <i class="glyphicon glyphicon-check" ng-show="article.pinned"></i>
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-tags"></i>
                    </li>
                    <li type="submit"
                        ui-sref="hashtagDetail({id:hashtag.id})"
                        ng-repeat="hashtag in article.hashtags">
                        <span class="label label-default">{{hashtag.name}}</span>
                    </li>
                    <li type="submit"
                        ui-sref="articleDetail({id:article.id})"
                        class="btn btn-link pull-right">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </li>
                </ul>
            </article>
        </section>
    </div>
</div>




