<header class="hero-unit" id="banner">
    <h1 translate="miagebdxApp.article.home.title">Article</h1>
    <button  ng-show="isInRole('ROLE_ADMIN')" class="btn btn-success btn-default" data-toggle="modal" data-target="#saveArticleModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="miagebdxApp.article.home.createLabel">Create a new Article</span>
    </button>
</header>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="form-control-wrapper">
            <div class="form-control-wrapper">
                <input class="form-control empty ng-pristine ng-valid ng-touched" id="searchInput" placeholder="Search" ng-model="search">
                <span class="material-input"></span>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4 well list-group">
        <div class="list-group-item">
            <div class="row-action-primary">
                <i class="glyphicon glyphicon-tags"> </i>
            </div>
            <div class="row-content">
                <div class="least-content">{{hashtags.length}}</div>
                <h4 class="list-group-item-heading"><span translate="miagebdxApp.article.hashtag"></span></h4>
                <div class="list-group-item-text">
                    <ul class="list-inline ">
                    <li ng-repeat="hashtag in hashtags" ng-init="isSelect=false">
                        <span class="label label-default" ui-sref="hashtagDetail({id:hashtag.id})">
                            {{hashtag.name}}
                        </span>
                    </li>
                </ul>
                </div>
            </div>
        </div>

        <div class="list-group-item">
            <div class="row-action-primary">
                <i class="glyphicon glyphicon-user"> </i>
            </div>
            <div class="row-content">
                <div class="least-content">{{peoples.length}}</div>
                <h4 class="list-group-item-heading"><span translate="miagebdxApp.article.people"></span></h4>
                <div class="list-group-item-text">
                    <ul class="list-inline">
                    <li ng-repeat="people in peoples" ng-init="isSelect=false">
                    <span class="label label-primary" ui-sref="peopleDetail({id:people.id})">
                        {{people.name}}
                    </span>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <listarticle></listarticle>
    </div>
</div>
<div class="modal fade" id="saveArticleModal" tabindex="-1" role="dialog" aria-labelledby="myArticleLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myArticleLabel" translate="miagebdxApp.article.home.createOrEditLabel">Create or edit a Article</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="id"
                               ng-model="article.id" readonly>
                    </div>

                    <div class="form-group">
                        <label translate="miagebdxApp.article.title">Title</label>
                        <input type="text" class="form-control"
                               ng-model="article.title">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.body">Body</label>
                        <textarea type="text" class="form-control"
                                  ng-model="article.body"/>
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.date">Date</label>
                        <input type="date" class="form-control"
                               ng-model="article.date">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.pinned">Pinned</label>
                        <input type="checkbox" class="form-control"
                               ng-model="article.pinned">
                    </div>

                    <div class="form-group">
                        <label translate="miagebdxApp.article.people">people</label>
                        <select class="form-control" multiple ng-model="article.peoples" ng-options="people as people.name for people in peoples track by people.id">
                        </select>
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.hashtag">hashtag</label>
                        <select class="form-control" multiple ng-model="article.hashtags" ng-options="hashtag as hashtag.name for hashtag in hashtags track by hashtag.id">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteArticleConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" ng-submit="confirmDelete(article.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="miagebdxApp.article.delete.question" translate-values="{id: '{{article.id}}'}">Are you sure you want to delete Article {{article.id}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

