<div class="list-group">
    <div class="well" ng-repeat="article in articles
                    | filter:search" ng-class="animation" >
        <div class="list-group-item">
            <br>
            <div class="row-action-primary">
                <i class="glyphicon glyphicon-pencil"></i>
            </div>
            <div class="row-content">
                <div class="least-content">
                    <br>
                    <i class="glyphicon glyphicon-unchecked" ng-show="!article.pinned"></i>
                    <i class="glyphicon glyphicon-check" ng-show="article.pinned"></i>

                </div>
                <div class="list-group-item-heading">
                    <a class="h4" ui-sref="articleDetail({id:article.id})">{{article.title}}</a>&nbsp;
                    <span class="small">{{article.date | date:'dd/MM/yy'}}</span></div>
                <div class="list-group-item-text">

                    <ul class="list-inline" ng-if="article.hashtags.length > 0">
                        <li><i class="glyphicon glyphicon-tags"></i></li>
                        <li type="submit"
                            ui-sref="hashtagDetail({id:hashtag.id})"
                            ng-repeat="hashtag in article.hashtags">
                            <span class="label label-default">{{hashtag.name}}</span>
                        </li>
                    </ul>

                    <ul class="list-inline" ng-if="article.peoples.length > 0">
                        <li class="glyphicon glyphicon-user"></li>
                        <li type="submit"
                            ui-sref="peopleDetail({id:people.id})"
                            ng-repeat="people in article.peoples" >
                            <span class="label label-primary">{{people.name}}</span> </li>
                    </ul>
                    <div class="pull-right">
                        <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                                ng-click="update(article.id)"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                                ng-click="delete(article.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
