<header class="hero-unit" id="banner">
    <h1 translate="miagebdxApp.article.home.title">Article</h1>
    <button  ng-show="isInRole('ROLE_ADMIN')" class="btn btn-success btn-default" data-toggle="modal" data-target="#saveArticleModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="miagebdxApp.article.home.createLabel">Create a new Article</span>
    </button>
</header>
<br>
<div class="container">
    <div class="col-md-4">
        <aside id="article">
                <h3>
                    <i class="glyphicon glyphicon-folder-open"> </i>
                    <span translate="miagebdxApp.article.hashtag"></span>
                </h3>
                <ul class="list-inline">
                    <li ng-repeat="hashtag in hashtags">
                        <span ng-click="filterHashtag(hashtag)" class="label label-primary">{{hashtag.name}}</span>
                    </li>
                </ul>

            <h3>
                <i class="glyphicon glyphicon-user"> </i>
                <span translate="miagebdxApp.article.people"></span>
            </h3>
            <ul class="list-inline">
                <li ng-repeat="people in peoples">
                    <span ng-click="filterPeople(people)" class="label label-primary">{{people.name}}</span>
                </li>
            </ul>
        </aside>
    </div>
    <div class="col-md-8">
        <section id="content" ng-repeat="article in articles | unique: 'id'">
            <article>
                <header>
                    <h2>
                        <span><a class="title" ui-sref="articleDetails({id:article.id})">{{article.title}}</a></span>
                        <span>(#{{article.id}})</span>
                    </h2>
                    <ul class="list-inline">
                    <li type="submit"
                       ui-sref="hashtagDetail({id:hashtag.id})"
                       ng-repeat="hashtag in article.hashtags">
                        <span class="label label-default">{{hashtag.name}}</span>
                    </li>
                    </ul>
                    <ul class="list-inline">
                    <li  type="submit"
                       ui-sref="peopleDetail({id:people.id})"
                       ng-repeat="people in article.peoples">
                        <span class="label label-primary">{{people.name}}</span> </li>
                    </ul>
                    <hr>
                </header>
                <div markdown="article.body"></div>
                <hr>
                <i class="glyphicon glyphicon-check" ng-show="article.pinned"></i>
                <i class="glyphicon glyphicon-unchecked" ng-show="!article.pinned"></i>
                <b>{{article.date}}</b>


                <div class="button-bar pull-right">
                    <button type="submit"
                            ui-sref="articleDetail({id:article.id})"
                            class="btn btn-link">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                    </button>
                    <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                            ng-click="update(article.id)"
                            class="btn btn-link">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                            ng-click="delete(article.id)"
                            class="btn btn-link">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </div>

            </article>
        </section>
    </div>
    <div class="col-md-12 text-center">
        <ul class="pagination">

            <li class="active">
                <a href="#">1</a>
            </li>

            <li class="">
                <a rel="next">2</a>
            </li>

            <li class="">
                <a href="">3</a>
            </li>

            <li class="disabled">
                <a href="#">...</a>
            </li>

            <li>
                <a href="" rel="next">Suivante ›</a>
            </li>

        </ul>
    </div>
</div>

<div class="modal fade" id="saveArticleModal" tabindex="-1" role="dialog" aria-labelledby="myArticleLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myArticleLabel" translate="miagebdxApp.article.home.createOrEditLabel">Create or edit a Article</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="id"
                               ng-model="article.id" readonly>
                    </div>

                    <div class="form-group">
                        <label translate="miagebdxApp.article.title">Title</label>
                        <input type="text" class="form-control"
                               ng-model="article.title">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.body">Body</label>
                        <input type="text" class="form-control"
                               ng-model="article.body">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.date">Date</label>
                        <input type="date" class="form-control"
                               ng-model="article.date">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.pinned">Pinned</label>
                        <input type="checkbox" class="form-control"
                               ng-model="article.pinned">
                    </div>

                    <div class="form-group">
                        <label translate="miagebdxApp.article.people">people</label>
                        <select class="form-control" multiple ng-model="article.peoples" ng-options="people as people.name for people in peoples track by people.id">
                        </select>
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.article.hashtag">hashtag</label>
                        <select class="form-control" multiple ng-model="article.hashtags" ng-options="hashtag as hashtag.name for hashtag in hashtags track by hashtag.id">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteArticleConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" ng-submit="confirmDelete(article.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="miagebdxApp.article.delete.question" translate-values="{id: '{{article.id}}'}">Are you sure you want to delete Article {{article.id}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
