<aside id="article" ng-repeat="article in articles
                    | filter:search" ng-class="animation">
    <div class="row">
        <div class="col-md-2">
            <ul class="list-inline">
                <li>
                    <i class="glyphicon glyphicon-unchecked" ng-show="!article.pinned"></i>
                    <i class="glyphicon glyphicon-check" ng-show="article.pinned"></i>
                </li>
                <li><b>{{article.date}}</b></li>
            </ul>
        </div>
        <div class="col-md-10">
            <header>

                <a class="h2" ui-sref="articleDetail({id:article.id})">{{article.title}}</a>
                <ul class="list-inline pull-right">
                    <li ng-show="isInRole('ROLE_ADMIN')" type="submit"
                        ng-click="update(article.id)"
                        class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </li>
                    <li ng-show="isInRole('ROLE_ADMIN')" type="submit"
                        ng-click="delete(article.id)"
                        class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </li>
                    <li type="submit"
                        ui-sref="articleDetail({id:article.id})"
                        class="btn btn-primary btn-sm">
                        <i class="glyphicon glyphicon-arrow-right"></i>&nbsp;<span translate="entity.action.view"> View</span>
                    </li>
                </ul>
                <hr ng-if="article.hashtags.length > 0 || article.peoples.length > 0">
            </header>


            <ul class="list-inline" ng-if="article.hashtags.length > 0">
                <li><i class="glyphicon glyphicon-tags"></i></li>
                <li type="submit"
                    ui-sref="hashtagDetail({id:hashtag.id})"
                    ng-repeat="hashtag in article.hashtags">
                    <span class="label label-default">{{hashtag.name}}</span>
                </li>
            </ul>
            <ul class="list-inline" ng-if="article.peoples.length > 0">
                <li class="glyphicon glyphicon-user"></li>
                <li type="submit"
                    ui-sref="peopleDetail({id:people.id})"
                    ng-repeat="people in article.peoples" >
                    <span class="label label-primary">{{people.name}}</span> </li>
            </ul>
        </div>
    </div>

</aside>

