<header class="hero-unit" id="banner">
    <h1>{{article.title}}</h1>
</header>

<br>
<div class="container">
        <section id="content">
            <article>
                <header>
                    <ul class="list-inline">
                        <li type="submit"
                            ui-sref="hashtagDetail({id:hashtag.id})"
                            ng-repeat="hashtag in article.hashtags">
                            <span class="label label-default">{{hashtag.name}}</span>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li  type="submit"
                             ui-sref="peopleDetail({id:people.id})"
                             ng-repeat="people in article.peoples">
                            <span class="label label-primary">{{people.name}}</span> </li>
                    </ul>
                    <hr>
                </header>
                <div markdown="article.body"></div>
                <hr>
                <i class="glyphicon glyphicon-check" ng-show="article.pinned"></i>
                <i class="glyphicon glyphicon-unchecked" ng-show="!article.pinned"></i>
                <b>{{article.date}}</b>
            </article>
        </section>
    <button type="submit"
            onClick="javascript:window.history.go(-1)"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>

