<header class="hero-unit" id="banner">
    <h2>{{article.title}}</h2>
        <a class="btn btn-sm btn-default pull-left" type="submit" ng-if="article.id > 1"
           ui-sref="articleDetail({id:(article.id) -1})">
            <span translate="entity.action.previous"></span> </a>
        <a type="submit" class="pull-right btn btn-sm btn-default"
           ng-if="articles.length > article.id"
           ui-sref="articleDetail({id:(article.id) +1})">
            <span translate="entity.action.next"></span> </a>
        <br>
</header>
<br>
<div class="container">
    <div class="well">
        <header>
            <ul class="list-inline" ng-if="article.hashtags.length > 0">
                <li><i class="glyphicon glyphicon-tags"></i> </li>
                <li type="submit"
                    ui-sref="hashtagDetail({id:hashtag.id})"
                    ng-repeat="hashtag in article.hashtags">
                    <span class="label label-default">{{hashtag.name}}</span>
                </li>
            </ul>
            <ul class="list-inline" ng-if="article.peoples.length > 0">
                <li class="glyphicon glyphicon-user"></li>
                <li  type="submit"
                     ui-sref="peopleDetail({id:people.id})"
                     ng-repeat="people in article.peoples">
                    <span class="label label-primary">{{people.name}}</span> </li>
            </ul>
            <hr ng-if="article.hashtags.length > 0 || article.peoples.length > 0">
        </header>
        <div markdown="article.body"></div>
        <hr>
        <ul class="list-inline">
            <li class="pull-right">
                <i class="glyphicon glyphicon-check" ng-show="article.pinned"></i>
                <i class="glyphicon glyphicon-unchecked" ng-show="!article.pinned"></i>
            </li>
            <li><b>{{article.date  | date:'dd MMM yy'}}</b></li>
        </ul>
    </div>
</div>


