<header class="hero-unit" id="banner">
    <h2>
        {{event.title}}
    </h2>
    <h3>
        <small class="label">{{ event.beginDate }}</small>
        <small class="label">{{ event.endDate }}</small>
        <small class="label">{{ event.location }}</small>
    </h3>
</header>

<div class="container">
    <button type="submit"
            onclick="javascript:window.history.go(-1)"
            class="btn btn-link">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

        <section id="content" class="list-group">
            <article>
                <div class="row">
                    <div class="col-md-6">
                        <div markdown="event.description"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="map-canvas" style="height: 300px; width:100%; margin: 0; padding: 0;"></div>
                    </div>
                    </div>
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i></li>
                    <li ng-repeat="people in event.peoples" ng-class="animation">
                        <span ui-sref="peopleDetail({id: people.id})" class="label label-primary">{{people.name}}</span>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-briefcase"></i></li>
                    <li ng-repeat="partner in event.partners" ng-class="animation">
                        <span ui-sref="partnerDetail({id: partner.id})" class="label label-primary">{{partner.name}}</span>
                    </li>
                </ul>







            </article>
        </section>
    </div>
</div>
