<header class="hero-unit" id="banner">
    <h1 translate="miagebdxApp.event.home.title">Event</h1>
    <button  ng-show="isInRole('ROLE_ADMIN')" class="btn btn-success btn-default" data-toggle="modal" data-target="#saveEventModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="miagebdxApp.event.home.createLabel">Create a new Event</span>
    </button>
</header>
<br>
<div class="container">
    <div class="row" >
        <div class="col-md-12" ng-show="isInRole('ROLE_ADMIN')">
            <form class="form-inline">
                <div class="form-group">
                    <label for="searchEventTitle">
                        <span translate="miagebdxApp.event.search">Search Event</span>
                    </label>
                    <input type="text" class="form-control" id="searchEventTitle" ng-model="search.title">
                </div>
            </form>
            <hr/>
        </div>
        <div class="col-md-12">
            <section id="content" ng-repeat="event in events | filter:search">
                <article>
                    <header>
                        <h2>
                            <span>
                                <a class="title" ui-sref="eventDetail({id:event.id})">{{ event.title }}</a>
                            </span>

                            <small class="pull-right">
                                    <i class="glyphicon glyphicon-unchecked" ng-show="!event.pinned"></i>
                                    <i class="glyphicon glyphicon-check" ng-show="event.pinned"></i>
                                <span translate="miagebdxApp.event.createdAt"></span>
                                {{ event.beginDate }}
                            </small>
                        </h2>
                    </header>

                            {{ event.description }}

                        <br>
                        <hR>

                    <div class="button-bar pull-right">
                        <button type="submit"
                                ui-sref="eventDetail({id:event.id})"
                                class="btn btn-link">
                            <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                                ng-click="updateEvent(event.id)"
                                class="btn btn-link">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                                ng-click="deleteEvent(event.id)"
                                class="btn btn-link">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </div>
                     <ul class="list-inline">
                         <li><i class="glyphicon glyphicon-user"></i></li>
                            <li ng-repeat="people in event.peoples">
                                <span ui-sref="peopleDetail({id: people.id})" class="label label-primary">{{people.name}}</span>
                            </li>
                        </ul>
                    <ul class="list-inline">
                        <li><i class="glyphicon glyphicon-briefcase"></i></li>
                        <li ng-repeat="partner in event.partners">
                            <span ui-sref="partnerDetail({id: partner.id})" class="label label-primary">{{partner.name}}</span>
                        </li>
                    </ul>





                </article>
            </section>
        </div>
    </div>
</div>

<!-- Popup de saving -->
<div class="modal fade" id="saveEventModal" tabindex="-1" role="dialog" aria-labelledby="myEventLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myEventLabel" translate="miagebdxApp.event.home.createOrEditLabel">Create or edit a Event</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label translate="miagebdxApp.event.title">Title</label>
                        <input type="text" class="form-control"
                               ng-model="event.title">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.event.description">Description</label>
                        <textarea class="form-control" ng-model="event.description">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.event.beginDate">BeginDate</label>
                        <input type="date" class="form-control"
                               ng-model="event.beginDate" ng-model-options="{timezone: 'UTC'}">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.event.endDate">EndDate</label>
                        <input type="date" class="form-control"
                               ng-model="event.endDate" ng-model-options="{timezone: 'UTC'}">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.event.pinned">Pinned</label>
                        <input type="checkbox" class="form-control"
                               ng-model="event.pinned">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.event.location">Location</label>
                        <input type="text" class="form-control"
                               ng-model="event.location" id="autocomplete">
                    </div>

                    <div class="form-group">
                        <label translate="miagebdxApp.event.people">people</label>
                        <select class="form-control" multiple ng-model="event.peoples" ng-options="people as people.name for people in peoples track by people.id">
                        </select>
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.event.partner">partner</label>
                        <select class="form-control" multiple ng-model="event.partners" ng-options="partner as partner.name for partner in partners track by partner.id">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Popup de deleting -->
<div class="modal fade" id="deleteEventConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" ng-submit="confirmDelete(event.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="miagebdxApp.event.delete.question" translate-values="{id: '{{event.id}}'}">Are you sure you want to delete Event {{event.id}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
