<header class="hero-unit" id="banner">
    <h2>{{partner.name}}</h2>
    <a class="btn btn-sm btn-default pull-left" type="submit" ng-if="partner.id > 1"
       ui-sref="partnerDetail({id:(partner.id) -1})">
        <span translate="entity.action.previous"></span> </a>
    <a type="submit" class="pull-right btn btn-sm btn-default"
       ng-if="partners.length > partner.id"
       ui-sref="partnerDetail({id:(partner.id) +1})">
        <span translate="entity.action.next"></span> </a>
    <br>
</header>
<br>
<div class="container">
    <div class="col-md-12">
        <div class="form-control-wrapper">
            <div class="form-control-wrapper">
                <input class="form-control empty ng-pristine ng-valid ng-touched" id="searchInput" placeholder="Search" ng-model="search.name">
                <span class="material-input"></span>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4 well">
        <img class="img-responsive img-thumbnail" ng-if="partner.image != null" data-ng-src="data:{{partner.image.filetype}} ;base64, {{partner.image.base64}}">
        <hr ng-if="partner.image != null">
        <p ng-if="partner.email != null"><i class="glyphicon glyphicon-envelope"></i> {{partner.email}}</p>
        <p ng-if="partner.telephone != null"><i class="glyphicon glyphicon-earphone"></i> {{partner.telephone}}</p>
        <p ng-if="partner.location != null"><i class="glyphicon glyphicon-pushpin"></i> {{partner.location}}</p>
        <p ng-if="partner.website != null"><i class="glyphicon glyphicon-globe"></i> {{partner.website}}</p>
        <hr ng-if="partner.description != null">
        <p ng-if="partner.description != null"><b>{{partner.description}}</b></p>

    </div>
    <div class="col-md-8">
        <listevents></listevents>
    </div>
</div>

