<header class="hero-unit" id="banner">
    <h1>{{hashtag.name}}</h1>
    <a class="btn btn-sm btn-primary pull-left" type="submit" ng-if="hashtag.id > 1"
       ui-sref="hashtagDetail({id:(hashtag.id) -1})">
        <span translate="entity.action.previous"></span> </a>
    <a type="submit" class="pull-right btn btn-sm btn-primary"
       ng-if="hashtags.length > hashtag.id"
       ui-sref="hashtagDetail({id:(hashtag.id) +1})">
        <span translate="entity.action.next"></span> </a>
    <br>
</header>
<br>
<div class="container">
    <div class="col-md-4 well">
        {{hashtag.description}}
    </div>
    <div class="col-md-8">
        <listarticle></listarticle>
    </div>
</div>

