<header class="hero-unit" id="banner">
    <h1 translate="miagebdxApp.hashtag.home.title">Hashtag</h1>

    <button ng-show="isInRole('ROLE_ADMIN')" class="btn btn-success btn-default" data-toggle="modal" data-target="#saveHashtagModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="miagebdxApp.hashtag.home.createLabel">Create a new Hashtag</span>
    </button>
</header>
<br>
<div class="container">
    <div class="col-md-12">
        <button type="submit"
                onClick="window.history.go(-1)"
                class="btn btn-link">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="hashtag in hashtags" ng-class="animation">
                <td><a ui-sref="hashtagDetails({id:hashtag.id})">{{hashtag.id}}</a></td>
                <td>{{hashtag.name}}</td>
                <td>{{hashtag.description}}</td>
                <td>
                    <div class="pull-right btn-group">
                        <button type="submit"
                                ui-sref="hashtagDetail({id:hashtag.id})"
                                class="btn btn-link">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                                ng-click="update(hashtag.id)"
                                class="btn btn-link">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button ng-show="isInRole('ROLE_ADMIN')" type="submit"
                                ng-click="delete(hashtag.id)"
                                class="btn btn-link">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="saveHashtagModal" tabindex="-1" role="dialog" aria-labelledby="myHashtagLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="create()">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myHashtagLabel" translate="miagebdxApp.hashtag.home.createOrEditLabel">Create or edit a Hashtag</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ID</label>
                        <input type="text" class="form-control" name="id"
                               ng-model="hashtag.id" readonly>
                    </div>

                    <div class="form-group">
                        <label translate="miagebdxApp.hashtag.name">Name</label>
                        <input type="text" class="form-control"
                               ng-model="hashtag.name">
                    </div>
                    <div class="form-group">
                        <label translate="miagebdxApp.hashtag.description">Description</label>
                        <input type="text" class="form-control"
                               ng-model="hashtag.description">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteHashtagConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" ng-submit="confirmDelete(hashtag.id)">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="miagebdxApp.hashtag.delete.question" translate-values="{id: '{{hashtag.id}}'}">Are you sure you want to delete Hashtag {{hashtag.id}}?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
