<header class="hero-unit" id="banner">
    <h2>{{people.name}}</h2>
    <a class="btn btn-sm btn-default pull-left" type="submit" ng-if="people.id > 1"
       ui-sref="peopleDetail({id:(people.id) -1})">
        <span translate="entity.action.previous"></span> </a>
    <a type="submit" class="pull-right btn btn-sm btn-default"
       ng-if="peoples.length > people.id"
       ui-sref="peopleDetail({id:(people.id) +1})">
        <span translate="entity.action.next"></span> </a>
    <br>
</header>

<div class="container">
    <br>
    <div class="col-md-12">
        <div class="form-control-wrapper">
            <div class="form-control-wrapper">
                <input class="form-control empty ng-pristine ng-valid ng-touched" id="searchInput" placeholder="Search" ng-model="search">
                <span class="material-input"></span>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4 well">
        <img class="img-responsive img-thumbnail" ng-if="people.image" data-ng-src="data:{{people.image.filetype}} ;base64, {{people.image.base64}}">
        <hr ng-if="people.image">
        <p ng-if="people.email"><i class="glyphicon glyphicon-envelope"></i> {{people.email}}</p>
        <p ng-if="people.telephone"><i class="glyphicon glyphicon-earphone"></i> {{people.telephone}}</p>
        <p ng-if="people.location"><i class="glyphicon glyphicon-pushpin"></i> {{people.location}}</p>
        <p ng-if="people.website"><i class="glyphicon glyphicon-globe"></i> {{people.website}}</p>
        <hr ng-if="people.details">
        <p ng-if="people.details"><b>{{people.details}}</b></p>
    </div>
    <div class="col-md-8">
        <listarticle></listarticle>
        <listevents></listevents>
    </div>
</div>
