$bleu-univ-color: #009DE0;
$marron-univ-color: #443A31;
$background-color: #fafafa;

body {
    background: $background-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/*.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}*/

.browserupgrade {
    margin: 0.2em 0;
    background: $background-color;
    color: #000;
    padding: 0.2em 0;
}

.error {
    color: white;
    background-color: red;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
    cursor: pointer;
}


/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: $marron-univ-color;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: $background-color;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $bleu-univ-color;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid $bleu-univ-color;
    background-color: $marron-univ-color;
}

.carousel{
    overflow:hidden;
    height:270px;
}


.carousel-caption {
    max-width: 550px;
    padding: 0 20px;
    margin:0 auto;
    margin-top: 200px;
    text-align:center;
}

/* begin */
/* Little hack in order to get the list of location displayed above the modal ! */
.pac-container {
    z-index: 10000 !important;
}
/* end */

.footer {
    background-color: $marron-univ-color;
    color: $bleu-univ-color;
    bottom: 0;
    height: 250px;
}

.cnil{
    opacity: .95;
    background-color: $marron-univ-color;
    bottom: 0;
    color: $bleu-univ-color;
    font-size: 13px;
    left: 0;
    padding: 10px 40px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 99;
}

.bottom-btn{
    opacity: .80;
    bottom: 3%;
    position: fixed;
    background: $marron-univ-color ;
    color: $bleu-univ-color;
    text-align: center;
    vertical-align: middle;
}

/**Little hack to have sticky footer**/
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

$bgHighlight    : #6b5c4d;
$dropDown       : false;
.navbar-default {
    background-color: $marron-univ-color;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $background-color;
        &:hover, &:focus {
            color: $bleu-univ-color; }}
    .navbar-text {
        color: $background-color; }
    .navbar-nav {
        > li {
            > a {
                color: $background-color;
                &:hover,  &:focus {
                    color: $bleu-univ-color; }}
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $marron-univ-color;
                    > li > a {
                        color: $background-color;
                        &:hover,  &:focus {
                            color: $bleu-univ-color;
                            background-color: $bgHighlight; }}
                    .divider {
                        background-color: $bgHighlight;}}}
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $bleu-univ-color;
                background-color: $bgHighlight; }}
        > .open {
            > a, > a:hover, > a:focus {
                color: $bleu-univ-color;
                background-color: $bgHighlight; }}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $background-color; }}
    .navbar-collapse,
    .navbar-form {
        border-color: $background-color; }
    .navbar-link {
        color: $background-color;
        &:hover {
            color: $bleu-univ-color; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $background-color;
            &:hover, &:focus {
                color: $bleu-univ-color; }}
        > .active {
            > a, > a:hover, > a:focus, {
                color: $bleu-univ-color;
                background-color: $bgHighlight; }}}
}

