$bgHighlight    : #6b5c4d;
$dropDown       : false;
$bleu-univ-color: #009DE0;
$marron-univ-color: #443A31;
$background-color: #fafafa;

.navbar-default {
    background-color: $marron-univ-color;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $background-color;
        &:hover, &:focus {
            color: $bleu-univ-color; }}
    .navbar-text {
        color: $background-color; }
    .navbar-nav {
        > li {
            > a {
                color: $background-color;
                &:hover,  &:focus {
                    color: $bleu-univ-color; }}
            @if $dropDown {
                > .dropdown-menu {
                    background-color: $marron-univ-color;
                    > li > a {
                        color: $background-color;
                        &:hover,  &:focus {
                            color: $bleu-univ-color;
                            background-color: $bgHighlight; }}
                    .divider {
                        background-color: $bgHighlight;}}}
        }
        > .active {
            > a, > a:hover, > a:focus {
                color: $bleu-univ-color;
                background-color: $bgHighlight; }}
        > .open {
            > a, > a:hover, > a:focus {
                color: $bleu-univ-color;
                background-color: $bgHighlight; }}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $background-color; }}
    .navbar-collapse,
    .navbar-form {
        border-color: $background-color; }
    .navbar-link {
        color: $background-color;
        &:hover {
            color: $bleu-univ-color; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
        > li > a {
            color: $background-color;
            &:hover, &:focus {
                color: $bleu-univ-color; }}
        > .active {
            > a, > a:hover, > a:focus, {
                color: $bleu-univ-color;
                background-color: $bgHighlight; }}}
}
