/*! http://responsiveslides.com v1.54 by @viljamis */
$marron-univ-color: #443A31;
$bleu-univ-color: #009DE0;

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

@media (min-width: 767px) {
    .caption-slide {
        position: absolute;
        width: 100%;
        opacity: 0.85;
        float: left;
        height: 100%;
        vertical-align: middle;
        background: $marron-univ-color;

    }
    .caption-slide-text {
        position: absolute;
        padding-top: 12.5%;
        text-align: center;
        width: 100%;
    }

    .caption-slide-text .h1 {
        font-size: 42px;
        color: $bleu-univ-color;

    }
}

@media (max-width: 767px) {
    .caption-slide {
        display: none;

    }
    .caption-slide-text {
        display: none;
    }

    .caption-slide-text .h1 {
        display: none;

    }
}
